.today-panel {
  position: relative;
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  .today-three-panel {
    width: 50%;
    height: 100%;
  }

  .today-curriculum-panel {
    flex: 1;
    height: 100%;
    background-color: #e5e5e5;
  }
}
